html{
  height: 100%;
}
body{
  height: 100%;
  background-color: #F29004;
}

.home form h2{
  font-weight: 400;
  text-align: center;
}
.home .form{
  background-color: white;
  padding: 10px;
  margin-top: 100px;
  border-radius: 30px;
  width: 350px;
  border: 1px solid #ededed;
}
.home form .field{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 60px;
  margin-bottom: 15px;
}
.home form a{
  text-align: center;
  color: #E85500;
  font-size: small;
  margin: 10px 0;
  display: block;
}
.home form button{
  width: 100%;
  margin: 10px 0 20px 0;
  font-size: medium;
  padding: 5px;
  border-radius: 10px;
}
.home form input{
  border: 0;
  border-bottom: 1px solid #ededed;
  width: 100%;
  outline: 0;
}
.home form .inpt:focus{
  border: 0;
  border-bottom: 1px solid #ededed;
  width: 100%;
  border-color: #E85500;
}
.home .wrap .tag:hover{
  margin-left: 10px;
  padding-left: 1px;
  box-shadow: 1px 3px 5px rgb(0,0,0,1);
}
.home .wrap img{
  width: 100%;
}
.home .wrap button:hover{
  margin-left: 10px;
  padding-left: 1px;
}
.home .wrap{
  margin: 10px 0;
}

@media screen and (max-width: 600px) {
  .home .wrap img{
    width: 100%;
  }
  .home .wrap div{
    width: 380px;
  }
  .home .nav .navWrap input{
    position: absolute;
    top: 90px;
  }
  .home .nav .navWrap a{
    width: 35px;
    overflow: hidden;
  }
  .home .wrap{
    margin: 50px;
  }

  
}
@media screen and (max-width: 400px) {
  .home .wrap img{
    width: 100%;
  }
  .home .wrap div{
    width: 330px;
  }
  .home .form{
    width: 300px;
  }

  
}
@media screen and (max-width: 340px) {
  .home .wrap img{
    width: 100%;
  }
  .home .wrap div{
    width: 290px;
  }
  .home .form{
    width: 250px;
  }

  
}
